.jdb-sider .logo {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  text-align: center;
}
.jdb-sider .logo img {
  width: 160px;
  height: auto;
}
.jdb-sider .small-logo {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  text-align: center;
}
.jdb-sider .small-logo img {
  height: 50px;
  width: auto;
}
.jdb-sider .ant-menu-inline .ant-menu-item {
  margin-top: 0px;
}
